{% extends "app1/layout.html" %}

{% block body %}
<div class="container mt-5">
    <h2>Available Books</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr>
                <td>
                    <a href="{% url 'app1:book_details' book.id %}">{{ book.bname }}</a>
                </td>
                <td>
                    <a href="{% url 'app1:update_book' book.id %}" class="btn btn-warning">Update Book Info</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'app1:logout' %}" class="btn btn-danger">Logout</a>
    <a href="{% url 'app1:add_book' %}" class="btn btn-success">Add Book</a>
</div>
{% endblock %}
