{% extends "app1/layout.html" %}

{% block body %}

<div class="container mt-5">
    <h2>{{ book.bname }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Book Name: {{ book.bname }}</li>
        <li class="list-group-item">Author: {{ book.author }}</li>
        <li class="list-group-item">Pages: {{ book.pages }}</li>
        <li class="list-group-item">Language: {{ book.language }}</li>
    </ul>
    <form method="post" action="{% url 'app1:details' username=user.username %}">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.id }}">
        <button type="submit" class="btn btn-primary mt-3">Add this Book</button>
    </form>
    <br>
    <br>
    <a href="{% url 'app1:details' username=request.user.username %}" class="btn btn-secondary">Your Info</a>
    <a href="{% url 'app1:add_book' %}" class="btn btn-success">Add Book</a>
    <a href="{% url 'app1:books' %}" class="btn btn-info">Books</a>
    <a href="{% url 'app1:logout' %}" class="btn btn-danger">Logout</a>
</div>

{% endblock %}