{% extends "app1/layout.html" %}

{% block body %}
<div class="container mt-5">
    <h2>Available Books</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Language</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr>
                <td>
                    <a href="{% url 'app1:book_details' book.id %}">{{ book.bname }}</a>
                </td>
                <td>{{ book.genre }}</td>
                <td>{{ book.language }}</td>
             
                <td>
                    <a href="{% url 'app1:update_book' book.id %}" class="btn btn-warning">Update Book Info</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
