{% extends "app1/layout.html" %}

{% block body %}
{% if book.id %}
    <a href="{% url 'app1:book_details' book_id=book.id %}">{{ book.bname }}</a>
{% else %}
    <!-- Handle the case where book.id is empty or not provided -->
    <span>No Book ID Available</span>
{% endif %}

    <h1>{{ user.username }} Details</h1>
    <ul>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
        <li>ID: {{ user.id }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>

    <section>
        <h2>Available Books</h2>
      
        <ul>
     
            {% for book in available_books %}
                <li>
                    {% if book.id %}
                        <a href="{% url 'app1:book_details' book_id=book.id %}">{{ book.bname }}</a>
                        <form method="post" action="{% url 'app1:details' username=user.username %}">
                            {% csrf_token %}
                            <input type="hidden" name="book" value="{{ book.id }}">
                            <button type="submit">Add Book</button>
                        </form>
                    {% else %}
                        No Book ID Available
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h2>User's Books</h2>
        <ul>
            {% for b in customer.books.all %}
           
                <li>- {{ b.bname }}</li>
           
            {% endfor %}
        </ul>

        <a href="{% url 'app1:add_book' %}" class="button">Add Book</a>
        <a href="{% url 'app1:login' %}" class="button">Login</a>
        <a href="{% url 'app1:logout' %}" class="button">Logout</a>
    </section>
{% endblock %}
