{% load static %} 
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp1/style.css' %}">
   
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    {% block body %}
    
    {% endblock %}
</body>
</html>