
.navbar-brand img {
    margin-right: 10px;
}

.navbar-dark .navbar-toggler-icon {
    border-color: white; 
}

.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler-icon:focus {
    outline: none;
}

.navbar-nav .nav-link {
    color: white; 
}
.navbar-nav .nav-link:hover {
    color: #007bff;
}
.thead-custom th {
    font-size: 25px; 
}
.navbar-nav .nav-link {
    font-size: 30px;
}
